#website_info table,
#plugin_info table {
    width: 100%;
}
#website_info table input,
#plugin_info table input {
    width: 100%;
}
#website_info table td:nth-of-type(1) {
    width: 7em;
}
#plugin_info table td:nth-of-type(1) {
    width: 10em;
}

.widefat.action-scheduler td ol {
    margin: 0;
}
.widefat.action-scheduler td ul {
    margin: 0;
}
